plugins/
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
mpd/.config/mpd/mpd.db
mpd/.config/mpd/mpdstate
ncmpcpp/.config/ncmpcpp/error.log
mpd/.config/mpd/playlists
ncmpcpp/.config/ncmpcpp/lyrics
scripts/.local/bin/console-ninja
scripts/.local/bin/wal
scripts/.local/bin/uvicorn
spicetify/.config/spicetify/config-xpui.ini
scripts/.local/bin/lvim
scripts/.local/bin/mise
zsh/.config/spicetify
