xterm*selectToClipboard: true
xterm*disallowedWindowOps: 21,22,SetXProp
*.font:	JetbrainsMono Nerd Font:pixelsize=21:antialias=true:autohint=true;
*.fontalt0:JoyPixels:pixelsize=22:antialias=true:autohint=true;
! *.fontalt1:FiraCode Nerd Font:pixelsize=20:antialias=true:autohint=true;
*.alpha: 0.90

! special
*.foreground:   #ead2d3 
*.background:   #080717
*.cursorColor:  #ECEFF4
*.revCursorColor:  #555555

! black
*.color0:       #32344a
*.color8:       #444b6a

! red
*.color1:       #f7768e
*.color9:       #ff7a93

! green
*.color2:       #9ece6a
*.color10:      #b9f27c

! yellow
*.color3:       #e0af68
*.color11:      #ff9e64

! blue
*.color4:       #7aa2f7
*.color12:      #7da6ff

! magenta
*.color5:       #ad8ee6
*.color13:      #bb9af7

! cyan
*.color6:       #449dab
*.color14:      #0db9d7

! white
*.color7:       #787c99
*.color15:      #acb0d0
